form {
  display: flex;
  flex-direction: column;

  label {
    color: var(--labelColor);
    text-align: left;
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
  }

  input[type="text"], input[type="email"], select {
    border: none;
    background: none;
    padding-bottom: 5px;
    border-bottom: var(--dottedLine);
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5px 0;
    padding-left: 10px;
  }

  footer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 10px;
    justify-content: center;
  }
  
  button {
      max-width: 50%;
      flex: 1;
      height: 40px;
      color: white;
      font-weight: bold;
      border-radius: var(--radius);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    #edit-btn {
      background-color: #3498db;

      &:hover {
        background-color: #5dade2 ;
      }

      &:active {
        background-color: #2980b9;
      }

      &:disabled {
        background-color: #bdc3c7;
      }
    }

    #checkin-btn {
      background-color: #5ab931;

      &:hover {
        background-color: #2ecc71 ;
      }

      &:active {
        background-color: #3f8f29;
      }

      &:disabled {
        background-color: #bdc3c7;
      }
    }

    #decline-btn {
      background-color: #e51a1a;

      &:hover {
        background-color: #e74c3c  ;
      }

      &:active {
        background-color: #bf1029 ;
      }

      &:disabled {
        background-color: grey;
      }
    }
}
