:root {
  --padding: 20px;
  --radius: 15px;
  --labelColor: #333;
  --dottedLine: 2px dotted var(--labelColor);
}

main {
  max-width: 500px;
  padding: 25px;
  background-color: rgb(13, 13, 80);
  margin: 0 auto;
  box-shadow: 0 0 25px;
  border-radius: var(--radius);
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(./images/bkg.jpg);

  @media (min-width: 768px) {
    h1 {
      font-size: 1.5em;
    }
  }
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.segment {
  width: 100%;
  padding: var(--padding);
  box-sizing: border-box;
  border-radius: var(--radius);
  max-width: 500px;
  margin: 0 auto;
  background: white;
}

h1 {
  margin: 0;
  font-size: 2em;
  display: flex;
  text-align: left;
  align-items: center;
  gap: 15px;
  border-bottom: var(--dottedLine)
}

#ticket {
  display: flex;
  flex-direction: column;
  color: black;
  background-image: linear-gradient(rgba(255,255,255, 0.9), rgba(255,255,255, 0.9)), url('./images/corner.png');
}

dl {
  display: flex;
  flex-direction: column;
  color: var(--labelColor);
  margin: 0;

  dt {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
  }

  dt, dd {
    text-align: left;
    margin: 5px 0;
  }

  dd {
    color: black;
    border-bottom: var(--dottedLine);
    padding-bottom: 5px;
    font-size: 1em;
    padding-left: 10px;
  }
}


